<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="/js/jquery/jquery.js" type="text/javascript"></script>
        <script src="/js/bootstrap.js" type="text/javascript"></script>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/css/simple-sidebar.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        SysVet
                    </a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">Usuários</a>
                </li>
                <li>
                    <a href="#">Clientes</a>
                </li>
                <li>
                    <a href="#">Serviços</a>
                </li>
                <li>
                    <a href="#">Agendamentos</a>
                </li>
                <li>
                    <a href="#">Relatórios</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% block body %}{% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
