{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                
                <h1>Contato</h1>
                <div> olá {{ nome }}</div>

            </div>
        </div>
    </div>
{% endblock %}



